[submodule "lib/esp-nimble-cpp"]
	path = lib/esp-nimble-cpp
	url = https://github.com/mhaberler/esp-nimble-cpp.git
[submodule "esp/esp-idf-lib"]
	path = esp/esp-idf-lib
	url = https://github.com/mhaberler/esp-idf-lib.git
