CONFIG_AUTOSTART_ARDUINO=y
# CONFIG_WS2812_LED_ENABLE is not set
CONFIG_FREERTOS_HZ=1000
CONFIG_MBEDTLS_PSK_MODES=y
CONFIG_MBEDTLS_KEY_EXCHANGE_PSK=y
CONFIG_BT_ENABLED=y
CONFIG_BT_SOC_SUPPORT_5_0=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_ESP_TASK_WDT=n
CONFIG_ESP_INT_WDT=n

CONF_ESP32S3_SPIRAM_SUPPORT=y
CONF_SPIRAM=y

CONFIG_BT_NIMBLE_TASK_STACK_SIZE=16384
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_EXTERNAL=y
CONFIG_BT_NIMBLE_MEM_ALLOC_MODE_INTERNAL=n
CONFIG_BT_NIMBLE_LOG_LEVEL_WARNING=y

CONFIG_NIMBLE_CPP_LOG_LEVEL_ERROR=y